@model Clustering.Dto.TypesCities
@{
    ViewData["Title"] = "GetClusteringMap";
    //Layout = "";
}

@section Head{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

}

<style>
    #map {
        width: 100%;
        height: 490px;
    }
    .my-custom-icon {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://icons-for-free.com/iconfiles/png/512/cross+hospital+icon-1320185103418112438.png);
        background-size: 100% 100%;
    }

    .hospital {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://icons-for-free.com/iconfiles/png/512/cross+hospital+icon-1320185103418112438.png);
        background-size: 100% 100%;
    }

    .pharmacy {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://image.flaticon.com/icons/png/512/64/64176.png);
        background-size: 100% 100%;
    }

    .clinic {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://as1.ftcdn.net/jpg/02/12/43/06/500_F_212430672_xINmYONWJ4BnJ9yoHThc0ZBJM3ozaK1O.jpg);
        background-size: 100% 100%;
    }

    .danger {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://png.pngtree.com/element_our/20200702/ourlarge/pngtree-danger-icon-design-cartoon-image_2292393.jpg);
        background-size: 100% 100%;
    }

    .dentist {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24129348.jpg);
        background-size: 100% 100%;
    }

    .heath {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://conceptdraw.com/a155c4/p97/preview/640/pict--health-monitoring-cloud-round-icons-vector-stencils-library);
        background-size: 100% 100%;
    }

    .doctors {
        width: 30px !important;
        height: 30px !important;
        border-radius: 18px;
        border: 2px solid #3F51B5;
        background: url(https://cdn1.iconfinder.com/data/icons/avatar-3/512/Doctor-512.png);
        background-size: 100% 100%;
    }

    .rad{
        border-radius:10px;
        background-color:#bcc7dd;
        color:black;
        border:0px;
    }
</style>
<div class="row">
    <div class="col-7">
        <div id="map"></div>
    </div>
    <div class="col-5">
        @*<form asp-action="Create">
            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
        @*<form asp-action="GetClusteringMap" method="post">
            <div class="form-group">
                <label asp-for="Types" class="control-label"></label>
                <select asp-for="Types" class="form-control" asp-items="Model.Types" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="View In Map" class="btn btn-primary" />
            </div>
        </form>*@
            <h4>Clustering Algorithim</h4>
            <div class="row mt-1 justify-content-center">
                <div class="col-8 mt-4">
                    <a class="btn btn-primary rad" style="" asp-area="" asp-controller="Points" asp-action="GetClusteringMap">&nbsp; K Means &nbsp;</a>
                </div>

                <div class="col-8 mt-4">
                    <a class="btn btn-primary rad" asp-area="" asp-controller="Points" asp-action="GetClusteringMapOptics">&nbsp;&nbsp; OPTICS &nbsp;&nbsp;</a>
                </div>

                <div class="col-8 mt-4">
                    <a class="btn btn-primary rad" asp-area="" asp-controller="Points" asp-action="GetClusteringMapK_Medoidos">K Medoids</a>
                </div>

                <div class="col-8 mt-4">
                    <a class="btn btn-primary rad" asp-area="" asp-controller="Points" asp-action="GetClusteringMapDbScan">&nbsp; Db Scan &nbsp;</a>
                </div>
            </div>


    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <script>

        var planes = @Html.Raw(
        Json.Serialize(
            Model.Points.Select(point => new
            {
                id = point.Id,
                lat = point.Lat,
                lan = point.Lan,
                name = point.Name,
                type = point.Type.Id
            })
        )
    );

        var map = L.map('map', {
            zoomControl: true, maxZoom: 28, minZoom: 1
        }).fitBounds([[29.799992708954807, 37.797432216381964], [36.99103453750632, 49.97967038565338]]);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        var markers = L.markerClusterGroup();

        for (var i = 0; i < planes.length; i++) {
            var a = planes[i];
            var title = a.name;
            var marker = L.marker(new L.LatLng(a.lat, a.lan), {
                title: title,
                icon: L.divIcon({
                    className: icon(a)
                })
            });
            marker.bindPopup(title);
            markers.addLayer(marker);
        }

        function icon(point) {
            switch (point.type) {
                case 1: return 'heath'; 
                case 2: return 'pharmacy'; 
                case 3: return 'doctors'; 
                case 4: return 'dentist'; 
                case 5: return 'clinic'; 
                case 6: return 'hospital'; 
                case 7: return 'heath'; 
                case 8: return 'danger'; 
                default: return 'my-custom-icon'
            }
        }

        map.addLayer(markers);
    </script>
}


