@{
    ViewData["Title"] = "Report";
}
<h1>@ViewData["Title"]</h1>

<style>
    .img {
        width: 109%;
    }
</style>
<img class="img" src="/pictures/Untitled-1.jpg" alt="HomePicture" />
<img class="img" src="/pictures/tg_image_1033102803.jpeg" alt="HomePicture" />
<img class="img" src="/pictures/tg_image_509463555.jpeg" alt="HomePicture" />